axon.tom-britton.com {
    reverse_proxy client-axon:80
}

axon-api.tom-britton.com {
    header {
        Access-Control-Allow-Origin "https://axon.tom-britton.com"
        Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
        Access-Control-Allow-Credentials "true"
        defer
    }

    @cors_preflight method OPTIONS
    handle @cors_preflight {
        respond "" 204
    }

    reverse_proxy axon-server:3000
}

auth.tom-britton.com {
    header {
        Access-Control-Allow-Origin "https://axon.tom-britton.com"
        Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
        Access-Control-Allow-Credentials "true"
        defer
    }

    @cors_preflight method OPTIONS
    handle @cors_preflight {
        respond "" 204
    }

    reverse_proxy axon-keycloak:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}

portainer.tom-britton.com {
    @blocked not remote_ip YOUR.HOME.IP.ADDRESS
    respond @blocked "Access Denied. Nice try, bots." 403

    reverse_proxy portainer:9000
}

netdata.tom-britton.com {
    @blocked not remote_ip YOUR.HOME.IP.ADDRESS
    respond @blocked "Access Denied. Nice try, bots." 403

    basicauth {
        tomadmin $2a$14$DA9OzEScuOkA3t1x.m1KjOuhV/26mfqbWjDwwKhjmJ0VSyBfDel6i
    }
    
    reverse_proxy netdata:19999
}